<table class="contracts-list list">
  <thead>
    <tr>
      <th><%= l(:label_name) %></th>
      <th><%= l(:label_agreed_on) %></th>
      <th><%= l(:label_date_period) %></th>
      <th><%= l(:label_purchased) %></th>
      <th><%= l(:label_expenses) %></th>
      <th><%= l(:label_remaining) %></th>
      <th><%= l(:label_hours_worked) %></th>
      <th><%= l(:label_hours_left) %></th>
      <th><%= l(:label_contract) %></th>
      <th><%= l(:label_invoice) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @contracts.each do |contract| %>
    <tr class="<%= cycle("odd", "even") %>">
      <% logger.debug "============ Beginning render of contract_row for Contract ID: #{contract.id}" %>
      <% cache("contracts_all_row_contract_id_#{contract.id}") do %>
        <%= render :partial => 'contract_row', :locals => { :contract => contract } %>
      <% end %>
      <% logger.debug "============ //Ending render of contract_row for Contract ID: #{contract.id}" %>
    </tr>
  <% end %>
</table>

