<table class="contracts-summary" >
  <tr>
    <td>
      <h3><%= l(:label_total_purchased) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
    </td>
    <td>
      <h3><%= l(:label_total_fixed) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_fixed) %></p>
    </td>
  </tr>
  <tr>
    <td>
      <h3><%= l(:label_total_hourly) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_hourly) %></p>
    </td>
    <td>
      <h3><%= l(:label_remaining_hourly) %></h3>
      <p class="green bigbold"><%= number_to_currency(@total_amount_remaining_hourly) %></p>
      <p><%= l(:label_or) %></p>
      <p class="blue bigbold">~<%= l_hours @total_remaining_hours %></p>
    </td>
  </tr>
</table>
<br />
