<table class="contracts-summary" >
  <tr>
    <td>
      <h3><%= l(:label_total_purchased) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="bigbold">~<%= l_hours @total_purchased_hours %></p>
    </td>
    <td>
      <h3><%= l(:label_total_remaining) %></h3>
      <p class="green bigbold"><%= number_to_currency(@total_remaining_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="blue bigbold">~<%= l_hours @total_remaining_hours %></p>
    </td>
  </tr>
</table>
<br />
