<table class="contracts-list list">
  <thead>
    <tr>
      <th><%= l(:label_name) %></th>
      <th><%= l(:label_agreed_on) %></th>
      <th><%= l(:label_date_period) %></th>
      <th><%= l(:label_purchased) %></th>
      <th><%= l(:label_expenses) %></th>
      <th><%= l(:label_remaining) %></th>
      <th><%= l(:label_hours_worked) %></th>
      <th><%= l(:label_hours_left) %></th>
      <th><%= l(:label_contract) %></th>
      <th><%= l(:label_invoice) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @contracts.each do |contract| %>
    <tr class="<%= cycle("odd", "even") %>">
      <%= render :partial => 'contract_row', :locals => { :contract => contract } %>
    </tr>
  <% end %>
</table>

