<table class="time-entries-for-contract-list list">
  <thead>
    <tr>
      <th><%= l(:label_date) %></th>
      <th><%= l(:label_name) %></th>
      <th><%= l(:label_amount) %></th>
      <th><%= l(:label_contract) %></th>
      <th><%= l(:label_issue) %></th>
      <th><%= l(:label_description) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @expenses.each do |expense| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= format_date(expense.expense_date) %></td>
      <td><%= link_to expense.name, expense_edit_urlpath(@contract, expense) %></td>
      <td><%= number_to_currency(expense.amount) %></td>
      <td><%= link_to expense.contract.title, { :controller => 'contracts', :action => 'show', :project_id => @contract.project.identifier, :id => @contract.id } %></td>
      <td><%= expense.issue.nil? ? l(:text_na) : link_to("#{expense.issue.tracker.name} ##{expense.issue_id}: #{expense.issue.subject}", issue_path(expense.issue)) %></td>
      <td class="comments"><%= expense.description %></td>
      <td>
        <% if !@contract.is_locked && User.current.allowed_to?(:edit_expenses, @project) %>
          <%= link_to image_tag("edit.png"), expense_edit_urlpath(@contract, expense), :title => l(:label_edit) %>
        <% end %>
      </td>
      <td>
        <% if !@contract.is_locked && User.current.allowed_to?(:delete_expenses, @project) %>
          <%= link_to image_tag("delete.png"), { :controller => 'contracts_expenses', :action => 'destroy',
            :project_id => @contract.project.identifier, :id => expense.id },
            :title => l(:label_delete), :data => {:confirm => l(:text_are_you_sure_delete_expense)}, :method => :delete %>
        <% end %>
      </td>

    </tr>
  <% end %>
</table>

