<table class="time-entries-for-contract-list list">
  <thead>
    <tr>
      <th><%= l(:label_date) %></th>
      <th><%= l(:label_member) %></th>
      <th><%= l(:label_activity) %></th>
      <th><%= l(:label_issue) %></th>
      <th><%= l(:label_comments) %></th>
      <% if User.current.allowed_to?(:view_time_entries, @project) || not(@contract.is_fixed_price) %>
        <th><%= l(:label_hours) %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @time_entries.each do |time_entry| %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= format_date(time_entry.spent_on) %></td>
      <td><%= link_to time_entry.user.name, user_path(time_entry.user) %></td>
      <td><%= time_entry.activity.name %></td>
      <td class="comments"><%= link_to time_entry.issue, issue_path(time_entry.issue) unless !time_entry.issue %></td>
      <td class="comments"><%= time_entry.comments %></td>
      <% if User.current.allowed_to?(:view_time_entries, @project) || not(@contract.is_fixed_price) %>
        <td><%= time_entry.hours %></td>
      <% end %>
      <td>
        <% if !@contract.is_locked && User.current.allowed_to?(:edit_time_entries, @project) -%>
          <%= link_to image_tag("edit.png"), edit_time_entry_path(time_entry), :title => l(:label_edit) %>
        <% end %>
      </td>
      <td>
        <% if !@contract.is_locked && User.current.allowed_to?(:edit_time_entries, @project) -%>
          <%= link_to image_tag("delete.png"), time_entry_path(time_entry), 
            :title => l(:label_delete), :data => {:confirm => l(:text_are_you_sure_delete_time_entry)}, :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

