<h2><%= @contract.title %> - <%= l(:label_add_time_entries) %></h2>

<%= form_tag( { :controller => 'contracts', :action => 'assoc_time_entries_with_contract', :project_id => @contract.project.identifier, :id => @contract.id }, :method => "put") do %>
  <table class="bulk-time-entries list">
    <thead>
      <tr>
        <th><%= l(:label_add_to_contract) %></th>
        <th><%= l(:label_date) %></th>
        <th><%= l(:label_current_contract) %></th>
        <th><%= l(:label_member) %></th>
        <th><%= l(:label_activity) %></th>
        <th><%= l(:label_issue) %></th>
        <th><%= l(:label_comments) %></th>
        <th><%= l(:label_hours) %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @time_entries.each do |time_entry| %>
      <tr class="<%= cycle("odd", "even") %>">
        <% ((time_entry.contract != nil) && (time_entry.contract.id == @contract.id)) ? if_disabled = true : if_disabled = false %>
        <% ((time_entry.contract != nil) && (time_entry.contract.id == @contract.id)) ? if_checked  = true : if_checked = false %>
        <td><%= check_box_tag("time_entries[#{time_entry.id}]", "1", if_checked, :disabled => if_disabled) %></td>
        <td><%= format_date(time_entry.spent_on) %></td>
        <td><%= time_entry.contract.title unless time_entry.contract == nil %></td>
        <td><%= link_to time_entry.user.name, user_path(time_entry.user) %></td>
        <td><%= time_entry.activity.name %></td>
        <td><%= link_to time_entry.issue, issue_path(time_entry.issue) unless !time_entry.issue %></td>
        <td><%= time_entry.comments %></td>
        <td><%= time_entry.hours %></td>
        <td><%= link_to image_tag("edit.png"), edit_time_entry_path(time_entry), :title => l(:label_edit) %></td>
        <td>
          <%= link_to image_tag("delete.png"), time_entry_path(time_entry),
            :title => l(:label_delete), 
            :data => {:confirm => l(:text_are_you_sure_delete_time_entry)},
            :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag(l(:label_apply)) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contracts', :plugin => 'contracts' %>
<% end %>
