<div class="contextual">
  <%= link_to_if_authorized l(:label_new_contract), { :controller => 'contracts', :action => 'new', :project_id => @project.identifier }, :class => 'icon icon-add' %>
  <% if @project.categories.length > 0 %>
    <%= link_to_if_authorized l(:title_create_article), { :controller => 'articles', :action => 'new', :project_id => @project}, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= l(:label_contracts) %></h2>

<%= render 'contracts_summary' %>
<%= render 'contracts_list' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contracts', :plugin => 'contracts' %>
<% end %>
