<div class="contextual">
  <% if User.current.roles_for_project(@project).first.permissions.include?(:edit_contracts) %>
    <%= link_to "Add Time Entries", "/projects/#{@project.identifier}/contracts/#{@contract.id}/add_time_entries", :method => :get %>
  <% end %>
</div>

<h2>
  <%= @contract.title %> 
  <% if User.current.roles_for_project(@project).first.permissions.include?(:view_hourly_rate) %>
    <%= link_to image_tag("/images/edit.png"), "#{@contract.id}/edit", :title => "Edit" %>
  <% end %>
  <% if User.current.roles_for_project(@project).first.permissions.include?(:delete_contracts) %>
    <%= link_to image_tag("/images/delete.png"), "#{@contract.id}", :method => :delete, 
      :title => "Delete", :confirm => "Are you sure you want to delete #{@contract.title}?" %>
  <% end %>
</h2>

<div>
  <p><%= @contract.description %></p>
</div>

<div> 
  <p><b>Project:</b> <%= @contract.project %></p>
</div>

<div>
  <p><b>Agreement Date:</b> <%= @contract.agreement_date.strftime('%m/%d/%Y')  %></p>
</div>

<div>
  <p><b>Date Range:</b> <%= @contract.start_date.strftime('%m/%d/%Y') %> - <%= @contract.end_date.strftime('%m/%d/%Y')  %></p>
</div>

<% if User.current.roles_for_project(@project).first.permissions.include?(:view_hourly_rate) %>
  <div>
    <p><b>Hourly Rate:</b> <%= number_to_currency(@contract.hourly_rate) %></p>
  </div>
<% end %>

<div>
  <p><b>Amount Purchased:</b> <%= number_to_currency(@contract.purchase_amount) %></p>
</div>

<% if !@contract.contract_url.empty? %>
  <div> 
    <p><%= link_to "View Contract", @contract.contract_url %></p>
  </div>
<% end %>

<% if !@contract.invoice_url.empty? %>
  <div> 
    <p><%= link_to "View Invoice", @contract.invoice_url %></p>
  </div>
<% end %>
                            
<h3>Time Entries</h3>

<%= render 'time_entries_list' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'contracts', :plugin => 'contracts' %>
<% end %>
